/* Page background */
body {
    background-image: url("https://media.istockphoto.com/id/1658039887/photo/beautiful-background-of-navy-paper.webp?a=1&b=1&s=612x612&w=0&k=20&c=LKh1hPr5yWjeOSEMOK7ZtZyOpxgjx9IjsrGTgSv_mFE=");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;

    background-color: #f2f2f2;
    padding: 40px;
}

/* Form container */
.form-container {
    width: 50%;
    margin:auto;
    background: rgb(255, 255, 255);
    padding: 25px;

    border: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/*this is sampele

/* Heading */
.form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Labels */
label {
    font-size: 20px;
    font-weight: bold;
}

/* Inputs, select box, textarea */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

/* Gender radio buttons */
.gender-box {
    margin-bottom: 15px;
}

/* Submit button */
button {
    
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
